<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <header><img width="800x" src="/img/mercado-libre-logo.png"></img></header>
    <p>Lugar para poner una barra de busqueda</p>
    <p>Compra en cuotas y con tarjeta de credito</p>
    <ul>
        <li>Ofertas</li>
        <li>Tiendas oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
        <li>Crea tu cuenta</li>
        <li>Ingresa</li>
        <li>Mis compras</li>
    </ul>

    <h2>Basado en tu ultima visita</h2>
    <section>
       <div>
            <img width="500px" src="/img/img-cafetera-moulinex.jpg"/>
            <h3>$6.770</h3>
            <h3>40% OFF</h3>
            <h3>Cafetera Moulinex</h3>
       </div>
       <div>
            <img width="500px" src="/img/img-macbook-pro-2019.jpg"/>
            <h3>$230.000</h3>
            <h3>20% OFF</h3>
            <h3>MacBook Pro 2019</h3>
       </div>
       <div>
        <img width="500px" src="/img/img-tv-samsung-smart.jpg"/>
        <h3>$23.000</h3>
        <h3>5% OFF</h3>
        <h3>SmartTv Samsung 43"</h3>
   </div> 
    </section>
    <footer>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            
        <h3>Envío gratis desde $ 2.500</h3>
        <p>CSolo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            
        <h3>PCopyright © 1999-2020 MercadoLiebre S.R.L.</h3>
       
    </footer>
  </body>
</html>