<!doctype html>
<html>
  <head>
    <title>MercadoLibre DH</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
  </head>
  <body>
    <header><img width="200x" src="/img/logo-mercado-liebre.svg"></img></header>
    <input type="text" placeholder="Buscar..">
    <p>Compra en cuotas y con tarjeta de credito</p>
    <nav>
      <ul>
          <li>Ofertas</li>
          <li>Tiendas oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
      </ul>
      <ul>
          <li>Crea tu cuenta <i class="fa-regular fa-alicorn"></i></li>
          <li>Ingresa</li>
          <li>Mis compras</li>
      </ul>
    </nav>
    <div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <h1>Basado en tu ultima visita</h1>
    <main>
      <section>
        <div>
              <img width="500px" src="/img/img-cafetera-moulinex.jpg"/>
              <h3 class="precio">$6.770</h3>
              <h3 class="descuento">40% OFF</h3>
              <h3 class="descripcion">Cafetera Moulinex</h3>
        </div>
        <div>
              <img width="500px" src="/img/img-macbook-pro-2019.jpg"/>
              <h3 class="precio">$230.000</h3>
              <h3 class="descuento">20% OFF</h3>
              <h3 class="descripcion">MacBook Pro 2019</h3>
        </div>
        <div>
          <img width="500px" src="/img/img-tv-samsung-smart.jpg"/>
          <h3 class="precio">$23.000</h3>
          <h3 class="descuento">5% OFF</h3>
          <h3 class="descripcion">SmartTv Samsung 43"</h3>
        </div> 
      </section>
    </main>
    <footer>
      <div class="footerDiv">
        <i class="fa-solid fa-credit-card"></i>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            
        <h3>Envío gratis desde $ 2.500</h3>
        <p>CSolo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            
        <h3>PCopyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </div>
    </footer>
  </body>
</html>